<div class='feedback-box' style='margin-left: 0 !important; margin-right: 0 !important;'>
    <div class='row'>
        <div class='col-md-12'>
            <br />
            <br />
        </div>
    </div>
    <div class='row'>
        <div class='col-md-12'>
            @Html.Raw(Model.Data.Documento.Replace("font-size:10px", "font-size:14px").Replace("font-size:11px", "font-size:14px") ?? String.Empty)
        </div>
    </div>
</div>
