<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <connectionStrings>
    <!--<add name="UranusEntities" connectionString="metadata=res://*/UranusModel.csdl|res://*/UranusModel.ssdl|res://*/UranusModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=Note-Ruy\SQLEXPRESS;initial catalog=Uranus;persist security info=True;user id=admin;password=Uranus@2020PASS;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
    <add name="UranusEntities"
 connectionString="metadata=res://*/UranusModel.csdl|res://*/UranusModel.ssdl|res://*/UranusModel.msl;
                       provider=System.Data.SqlClient;
                       provider connection string=&quot;data source=localhost\SQLEXPRESS;
                       initial catalog=Uranus;
                       integrated security=True;
                       MultipleActiveResultSets=True;
                       App=EntityFramework&quot;"
 providerName="System.Data.EntityClient" />

    <!--
    <add name="UranusEntities" connectionString="metadata=res://*/UranusModel.csdl|res://*/UranusModel.ssdl|res://*/UranusModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=192.168.0.31;initial catalog=Uranus;persist security info=True;user id=admin;password=Uranus@2020PASS;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="UranusEntities" connectionString="metadata=res://*/UranusModel.csdl|res://*/UranusModel.ssdl|res://*/UranusModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=Note-Ruy\SQLEXPRESS;initial catalog=Uranus;persist security info=True;user id=admin;password=Uranus@2020PASS;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
 -->
  </connectionStrings>
  <appSettings>
    <add key="ActivateSpreadsheet" value="1" />
    <add key="ActivateWebServiceWEBJUR" value="1" />
    <add key="ActivateWebServiceOAB" value="1" />
    <add key="ActivateEmails" value="0" />
    <add key="TimeSpreadsheet" value="1" />
    <add key="TimeWebServiceWEBJUR" value="1440" />
    <add key="TimeWebServiceOAB" value="1440" />
    <add key="TimeEmails" value="15" />
    <add key="PathUpload" value="C:\Uranus.WindowsService" />
    <add key="WebServiceUserWEBJUR" value="RVM" />
    <add key="WebServicePassWEBJUR" value="89898412" />
    <add key="WebServiceGroupWEBJUR" value="1" />
    <add key="WebServiceParameterWEBJUR" value="|" />
    <add key="WebServiceKeyOAB" value="GHM1B3G0YA0KNQKZ" />
    <add key="WebServiceInitialDate" value="20210101" />
    <add key="EmailUser" value="" />
    <add key="EmailPass" value="" />
  </appSettings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Threading.Tasks.Extensions" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.2.0.0" newVersion="4.2.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.SqlServer.Smo" publicKeyToken="89845dcd8080cc91" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-16.100.0.0" newVersion="16.100.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Npgsql" publicKeyToken="5d8b90d52f46fda7" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.3.1" newVersion="4.1.3.1" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.SqlServer.ConnectionInfo" publicKeyToken="89845dcd8080cc91" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-16.100.0.0" newVersion="16.100.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.SqlServer.SqlEnum" publicKeyToken="89845dcd8080cc91" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-16.100.0.0" newVersion="16.100.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Numerics.Vectors" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.4.0" newVersion="4.1.4.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.0.0.0" newVersion="5.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Buffers" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Memory" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.2" newVersion="4.0.1.2" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-11.0.0.0" newVersion="11.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Bcl.AsyncInterfaces" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Text.Json" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.0" newVersion="4.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.ValueTuple" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.serviceModel>
    <bindings />
    <client />
  </system.serviceModel>
</configuration>