/Uranus/Uranus.Suite/Uploads
/Uranus/Uranus.Suite/Uploads
Uranus/Uranus.Suite/Web.config
Uranus/Uranus.AuthApi/appsettings.json
/RVM.Solucoes/packages
/RVM.Solucoes/Sigman.BB/obj
/RVM.Solucoes/Sigman.BB/bin
/RVM.Solucoes/Sigman.CEF/bin
/RVM.Solucoes/Sigman.CEF/obj
/RVM.Solucoes/Sigman.Common/bin
/RVM.Solucoes/Sigman.Common/obj
/RVM.Solucoes/Sigman.Domain/bin
/RVM.Solucoes/Sigman.Domain/obj
/RVM.Solucoes/Sigman.Mailer/bin
/RVM.Solucoes/Sigman.Mailer/obj
/RVM.Solucoes/Sigman.NFSe/bin
/RVM.Solucoes/Sigman.NFSe/obj
/Uranus.Suite/.vs
