@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- page content -->
<div class="main_container">

    <div id="modalImprimirRelatorio" class="modal fade  bs-example-modal-lg" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-lg">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <div class="row" style="width: 100% !important;">
                        <div class="col-md-10">
                            <h4 class="modal-title"><label>Impressão de Relatório de Receitas por Centro de Custos</label></h4>
                        </div>
                        <div class="col-md-2" style="float: right !important;">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">&times;</button>
                        </div>
                    </div>
                </div>
                <div class="modal-body">
                    <div id="ImprimirRelatorio"></div>
                </div>
            </div>
            <br />
            <table>
                <tr>
                    <td style="text-align:center">
                    </td>
                </tr>
            </table>
        </div>
    </div>

    <div role="main">
        <form id="relatorio-form">
            <div class="row">
                <div class="col-md-2">
                    <div class="form-group">
                        <label class="titlefield">Mes <span class="required hidden">*</span></label>
                        <select id="Mes" name="Mes" class="form-control placeholder" data-msg-required="Por favor, selecione um Mês." data-rule-required="false">
                            <option value="">Selecione</option>
                            <option value="1">Janeiro</option>
                            <option value="2">Fevereiro</option>
                            <option value="3">Março</option>
                            <option value="4">Abril</option>
                            <option value="5">Maio</option>
                            <option value="6">Junho</option>
                            <option value="7">Julho</option>
                            <option value="8">Agosto</option>
                            <option value="9">Setembro</option>
                            <option value="10">Outubro</option>
                            <option value="11">Novembro</option>
                            <option value="12">Dezembro</option>
                        </select>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="form-group">
                        <label class="titlefield">Centro de Custo</label><br />
                        <select id="IdSede" name="IdSede" class="select2_single form-control" style="width: 100% !important;"></select>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <label class="titlefield">Origem</label><br />
                        <select id="IdFinanceiroOrigem" name="IdFinanceiroOrigem" class="select2_single form-control" style="width: 100% !important;"></select>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <label class="titlefield">Receita referente a</label><br />
                        <select id="IdFinanceiroTipo" name="IdFinanceiroTipo" class="select2_single form-control" style="width: 100% !important;"></select>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="form-group">
                        <label class="titlefield">Área</label><br />
                        <select id="IdArea" name="IdArea" class="select2_single form-control" style="width: 100% !important;"></select>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <div class="form-group" style="vertical-align: bottom !important;">
                        <button id="GerarRelatorio" type="button" class="btn btn-primary" style="margin: 0;" data-dismiss="modal">Gerar Relatório</button>
                    </div>
                </div>
            </div>
        </form>
    </div>

</div>

<!-- /page content -->
<!-- datepicker -->
<script type="text/javascript" src="~/Scripts/datepicker/bootstrap-datepicker.min.js"></script>
<script type="text/javascript" src="~/Scripts/datepicker/locales/bootstrap-datepicker.pt-BR.min.js"></script>

<!-- select2 -->
<script src="~/Scripts/select/select2.full.js"></script>

<script>

    CarregarOrigem();
    CarregarTipo("R");
    CarregarSedes();
    CarregarAreas();

    function CarregarOrigem() {

        var dados = new window.FormData();
        var options = {};
        options.url = "/FinanceiroOrigem/Listar"
        options.type = "POST";
        options.asyn = true;
        options.contentType = false;
        options.processData = false;
        options.dataType = "application/json; charset=utf-8";
        options.complete = function (data) {

            var json = $.parseJSON(data.responseText);

            if (json.codigo == '00') {

                var rows = json.financeiroorigem;
                $('#IdFinanceiroOrigem').html("0");
                var select = $('#IdFinanceiroOrigem');
                select.append(
                    $('<option selected></option>').val("0").html("Selecione uma Origem")
                );

                for (index = 0; index < rows.length; index++) {

                    select.append(
                        $('<option></option>').val(rows[index].Id).html(rows[index].Nome)
                    );
                }
            }
        };
        $.ajax(options);
    }

    function CarregarTipo(Tipo) {

        var dados = new window.FormData();

        dados.append("Tipo", Tipo);

        var options = {};
        options.url = "/FinanceiroTipo/Listar"
        options.type = "POST";
        options.data = dados;
        options.asyn = true;
        options.contentType = false;
        options.processData = false;
        options.dataType = "application/json; charset=utf-8";
        options.complete = function (data) {

            var json = $.parseJSON(data.responseText);

            if (json.codigo == '00') {

                var rows = json.financeirotipo;
                $('#IdFinanceiroTipo').html("0");
                var select = $('#IdFinanceiroTipo');
                select.append(
                    $('<option selected></option>').val("0").html("Selecione um Tipo")
                );

                for (index = 0; index < rows.length; index++) {

                    select.append(
                        $('<option></option>').val(rows[index].Id).html(rows[index].Nome)
                    );
                }
            }
        };
        $.ajax(options);
    }

    function CarregarSedes() {

        var dados = new window.FormData();
        var options = {};
        options.url = "/Sedes/ListarClientes"
        options.type = "POST";
        options.asyn = true;
        options.contentType = false;
        options.processData = false;
        options.dataType = "application/json; charset=utf-8";
        options.complete = function (data) {

            var json = $.parseJSON(data.responseText);

            if (json.codigo == '00') {

                var rows = json.sedes;
                $('#IdSede').html("0");
                var select = $('#IdSede');
                select.append(
                    $('<option selected></option>').val("0").html("Selecione um Centro de Custo")
                );

                for (index = 0; index < rows.length; index++) {

                    select.append(
                        $('<option></option>').val(rows[index].Id).html(rows[index].Nome)
                    );
                }

                $('#FiltrarSede').html("0");
                var select = $('#FiltrarSede');
                select.append(
                    $('<option selected></option>').val("0").html("Selecione um Centro de Custo")
                );

                for (index = 0; index < rows.length; index++) {

                    select.append(
                        $('<option></option>').val(rows[index].Id).html(rows[index].Nome)
                    );
                }
            }
        };
        $.ajax(options);
    }

    function CarregarAreas() {

        var dados = new window.FormData();
        var options = {};
        options.url = "/Areas/Listar"
        options.type = "POST";
        options.asyn = true;
        options.contentType = false;
        options.processData = false;
        options.dataType = "application/json; charset=utf-8";
        options.complete = function (data) {

            var json = $.parseJSON(data.responseText);

            if (json.codigo == '00') {

                var rows = json.areas;
                $('#IdArea').html("0");
                var select = $('#IdArea');
                select.append(
                    $('<option selected></option>').val("0").html("Selecione uma Area")
                );

                for (index = 0; index < rows.length; index++) {

                    select.append(
                        $('<option></option>').val(rows[index].Id).html(rows[index].Nome)
                    );
                }
            }
        };
        $.ajax(options);
    }

    $('#GerarRelatorio').click(function (evt) {

        $("#relatorio-form").validate();

        if ($('#relatorio-form').valid()) {

            var dados = new window.FormData();

            //elert("Mes" + $("#Mes").val());
            //elert("IdSede", $("#IdSede").val());
            //elert("IdFinanceiroOrigem", $("#IdFinanceiroOrigem").val());
            //elert("IdFinanceiroTipo", $("#IdFinanceiroTipo").val());
            //elert("IdArea", $("#IdArea").val());



            dados.append("Mes", $("#Mes").val());
            dados.append("IdSede", $("#IdSede").val());
            dados.append("IdFinanceiroOrigem", $("#IdFinanceiroOrigem").val());
            dados.append("IdFinanceiroTipo", $("#IdFinanceiroTipo").val());
            dados.append("IdArea", $("#IdArea").val());

            var options = {};
            options.url = "/RelatorioFinanceiroReceitas/ImprimirRelatorio"
            options.type = "POST";
            options.data = dados;
            options.asyn = true;
            options.contentType = false;
            options.processData = false;
            options.dataType = "application/json; charset=utf-8";
            options.complete = function (data) {

                var json = $.parseJSON(data.responseText);

                if (json.codigo == '00') {

                    $("#ImprimirRelatorio").html("<iframe width='100%' height='800px' src='data:application/pdf;base64, " + encodeURI(json.arquivo) + "'></iframe>");
                    $('#modalImprimirRelatorio').attr('data-backdrop', 'static');
                    $('#modalImprimirRelatorio').attr('data-keyboard', 'false');
                    $('#modalImprimirRelatorio').modal('show');

                }
                else {


                }

            };
            $.ajax(options);

            evt.preventDefault();
        }
        else {
            return false;
        }

    });

    function ButtonImprimirRelatorio() {

        var divToPrint = document.getElementById('ImprimirRelatorio');

        var newWin = window.open('', 'Print-Window');

        newWin.document.open();

        newWin.document.write('<html><body onload="window.print()">' + divToPrint.innerHTML + '</body></html>');

        newWin.document.close();

        setTimeout(function () { newWin.close(); }, 10);

    }


</script>