
@{
    ViewBag.Title = "Visualizar Agendas por Período";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<!-- page content -->
<div role="main">
    <div class="row">
        <div class="col-md-12">
            <h4><b>Visualizar Agendas por Período e Profissional ou Cliente</b></h4>
            <hr />
        </div>
    </div>
    <form id="agenda-filtrar-form">
        <div class="row" style="padding-left: 15px !important;">
            <div class="col-md-2">
                <div class="form-group">
                    <label class="titlefield">Data Inicial <span class="required">*</span></label>
                    <div id="DataInicial" name="DataInicial" class="input-group date" style="margin: 0 !important;">
                        <input id="DataInicialValor" name="DataInicialValor" class="form-control placeholder" type="text" style="height: 40px !important;" readonly />
                        <span class="input-group-addon" style="border-radius: 0px !important; padding: 11px 12px !important;"><i class="glyphicon glyphicon-calendar"></i></span>
                    </div>
                </div>
            </div>
            <div class="col-md-2">
                <div class="form-group">
                    <label class="titlefield">Data Final <span class="required">*</span></label>
                    <div id="DataFinal" name="DataFinal" class="input-group date" style="margin: 0 !important;">
                        <input id="DataFinalValor" name="DataFinalValor" class="form-control placeholder" type="text" style="height: 40px !important;" readonly />
                        <span class="input-group-addon" style="border-radius: 0px !important; padding: 11px 12px !important;"><i class="glyphicon glyphicon-calendar"></i></span>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label class="titlefield">Nome do Profissional</label><br />
                    <select id="Profissional" name="Profissional" class="select2_single form-control" style="width: 100% !important;"></select>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label class="titlefield">Cliente</label><br />
                    <select id="Cliente" name="Cliente" class="select2_single form-control" style="width: 100% !important;"></select>
                </div>
            </div>
        </div>
        <div class="row" style="padding-left: 15px !important;">
            <div class="col-md-4">
                <div class="form-group">
                    <label class="titlefield">Local de Atendimento</label>
                    <select id="Sede" name="Sede" class="select2_single form-control" style="width: 100% !important;"></select>
                </div>
            </div>
            <div class="col-md-2">
                <label class="titlefield">&nbsp;</label><br />
                <button id="buttonFiltrar" type="button" class="btn btn-primary" style="margin: 0;">Filtrar</button>
            </div>
        </div>
        <hr />
        <div class="alert alert-danger hidden" id="agenda-enviar-alert-error">
            <strong>ERRO:</strong> Algo deu errado ao enviar as Agendas.
        </div>
        <div id="VisualizarAgendas"></div>
    </form>
</div>
<!-- /page content -->
<!-- datepicker -->
<script type="text/javascript" src="~/Scripts/datepicker/bootstrap-datepicker.min.js"></script>
<script type="text/javascript" src="~/Scripts/datepicker/locales/bootstrap-datepicker.pt-BR.min.js"></script>

<!-- select2 -->
<script src="~/Scripts/select/select2.full.js"></script>

<script>

    $("#DataInicial").datepicker({
        language: 'pt-BR',
        autoclose: true,
        todayHighlight: true,
        orientation: "bottom",
        clearBtn: true
    });

    $("#DataFinal").datepicker({
        language: 'pt-BR',
        autoclose: true,
        todayHighlight: true,
        orientation: "bottom",
        clearBtn: true
    });

    $("#Profissional").select2({
        placeholder: "Selecione um Profissional",
        allowClear: true,
        tags: true
    });

    $("#Sede").select2({
        placeholder: "Selecione um Local",
        allowClear: true,
        tags: true
    });

    $("#Cliente").select2({
        placeholder: "Selecione um Cliente",
        allowClear: true,
        tags: true,
        minimumInputLength: 3,
        ajax: {
            cache: false,
            dataType: "json",
            type: "POST",
            url: '/Clientes/GetClientsList',
            delay: 250,
            cache: true,
            data: function (params) {
                params.page = params.page || 1;
                return {
                    search: params.term,
                    page: params.page
                };
            },
            processResults: function (data, params) {
                return {
                    results: data.clientes,
                    pagination: {
                        more: (params.page * 10) < data.total
                    }
                };
            }
        }
    });

    CarregarProfissionais("");

    function CarregarProfissionais(Data) {

        var dados = new window.FormData();
        dados.append("Data", Data);

        var options = {};
        options.url = "/Profissionais/Listar"
        options.type = "POST";
        options.data = dados;
        options.asyn = true;
        options.contentType = false;
        options.processData = false;
        options.dataType = "application/json; charset=utf-8";
        options.complete = function (data) {

            var json = $.parseJSON(data.responseText);

            if (json.codigo == '00') {

                var rows = json.profissionais;

                $('#Profissional').html("");
                var select = $('#Profissional');
                select.append(
                    $('<option selected disabled></option>').val("").html("Selecione um Profissional")
                );

                for (i = 0; i < rows.length; i++) {
                    select.append(
                        $('<option></option>').val(rows[i].Id).html(rows[i].Nome)
                    );
                }

            }
        };
        $.ajax(options);
    }

    CarregarLocalAtendimento();

    function CarregarLocalAtendimento() {

        var dados = new window.FormData();
//        dados.append("Data", Data);

        var options = {};
        options.url = "/Sedes/Listar"
        options.type = "POST";
        options.data = dados;
        options.asyn = true;
        options.contentType = false;
        options.processData = false;
        options.dataType = "application/json; charset=utf-8";
        options.complete = function (data) {

            var json = $.parseJSON(data.responseText);

            if (json.codigo == '00') {

                var rows = json.sedes;

                $('#Sede').html("");
                var select = $('#Sede');
                select.append(
                    $('<option selected disabled></option>').val("").html("Selecione uma Sede")
                );

                for (i = 0; i < rows.length; i++) {
                    select.append(
                        $('<option></option>').val(rows[i].Id).html(rows[i].Nome)
                    );
                }
            }
        };
        $.ajax(options);
    }

    $('#buttonFiltrar').click(function (evt) {

        $("#agenda-filtrar-form").validate();

        if ($('#agenda-filtrar-form').valid()) {

            var dados = new window.FormData();
            dados.append("DataInicial", $("#DataInicialValor").val());
            dados.append("DataFinal", $("#DataFinalValor").val());
            dados.append("IdProfissional", $("#Profissional").val());
            dados.append("IdCliente", $("#Cliente").val());
            dados.append("IdSede", $("#Sede").val());

            var options = {};
            options.url = "/Agendas/VisualizarPeriodo"
            options.type = "POST";
            options.data = dados;
            options.asyn = true;
            options.contentType = false;
            options.processData = false;
            options.dataType = "application/json; charset=utf-8";
            options.complete = function (data) {

                var json = $.parseJSON(data.responseText);

                if (json.codigo == '00') {

                    $("#agenda-enviar-alert-error").addClass("hidden");
                    $("#VisualizarAgendas").html(json.agendas);

                }
                else {

                    $("#agenda-enviar-alert-error").removeClass("hidden");
                    $("#agenda-enviar-alert-error").html("<strong>ERRO:</strong> " + json.motivo);

                }

                setTimeout(function () {
                    $("#agenda-enviar-alert-error").addClass("hidden");
                    $("#agenda-enviar-alert-error").html("<strong>ERRO:</strong> Algo deu errado ao visualizar as Agendas.");
                }, 9000);

            };
            $.ajax(options);

            evt.preventDefault();
        }
        else {
            return false;
        }

    });

</script>

