
@{
    ViewBag.Title = "Timeline";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="x_content">
    <div class="dashboard-widget-content">

        <ul class="list-unstyled timeline widget">
            <li>
                <div class="block">
                    <div class="block_content">
                        <h2 class="title">
                            03 de Maio de 2021
                        </h2>
                        <div class="byline">
                            <span>as 23:03</span> por <a style='text-decoration: none !important;'>John Down</a>
                        </div>
                        <div class="excerpt">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer males uada tellus lorem, et condimentum neque commodo Integer males uada tellus lorem, et condimentum neque commodo
                            <br />
                            <a class='btn btn-primary btn-xs' data-toggle='modal' data-target='#modalAlterarClienteHistorico' onclick="AlterarClienteHistorico();">Alterar</a>
                        </div>
                    </div>
                </div>
            </li>
            <li>
                <div class="block">
                    <div class="block_content">
                        <h2 class="title">
                            12 de Junho de 2021
                        </h2>
                        <div class="byline">
                            <span>as 06:28</span> por <a style='text-decoration: none !important;'>Jane Smith</a>
                        </div>
                        <div class="excerpt">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer males uada tellus lorem, et condimentum neque commodo Integer males uada tellus lorem, et condimentum neque commodo
                            <br />
                            <a class='btn btn-primary btn-xs' data-toggle='modal' data-target='#modalAlterarClienteHistorico' onclick="AlterarClienteHistorico();">Alterar</a>
                        </div>
                    </div>
                </div>
            </li>
            <li>
                <div class="block">
                    <div class="block_content">
                        <h2 class="title">
                            20 de Julho de 2021
                        </h2>
                        <div class="byline">
                            <span>as 08:17</span> por <a style='text-decoration: none !important;'>John Down</a>
                        </div>
                        <div class="excerpt">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer males uada tellus lorem, et condimentum neque commodo Integer males uada tellus lorem, et condimentum neque commodo
                            <br />
                            <a class='btn btn-primary btn-xs' data-toggle='modal' data-target='#modalAlterarClienteHistorico' onclick="AlterarClienteHistorico();">Alterar</a>
                        </div>
                    </div>
                </div>
            </li>
            <li>
                <div class="block">
                    <div class="block_content">
                        <h2 class="title">
                            24 de Julho de 2021
                        </h2>
                        <div class="byline">
                            <span>as 14:32</span> por <a style='text-decoration: none !important;'>Jane Smith</a>
                        </div>
                        <div class="excerpt">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer males uada tellus lorem, et condimentum neque commodo Integer males uada tellus lorem, et condimentum neque commodo
                            <br />
                            <a class='btn btn-primary btn-xs' data-toggle='modal' data-target='#modalAlterarClienteHistorico' onclick="AlterarClienteHistorico();">Alterar</a>
                        </div>
                    </div>
                </div>
            </li>
            <li>
                <div class="block">
                    <div class="block_content">
                        <h2 class="title">
                            24 de Julho de 2021
                        </h2>
                        <div class="byline">
                            as <span>17:58</span> por <a style='text-decoration: none !important;'>Jane Smith</a>
                        </div>
                        <div class="excerpt">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer males uada tellus lorem, et condimentum neque commodo Integer males uada tellus lorem, et condimentum neque commodo
                            <br />
                            <a class='btn btn-primary btn-xs' data-toggle='modal' data-target='#modalAlterarClienteHistorico' onclick="AlterarClienteHistorico();">Alterar</a>
                        </div>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</div>