<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="bootstrap" version="3.3.6" targetFramework="net45" />
  <package id="BouncyCastle" version="1.8.6.1" targetFramework="net472" />
  <package id="Clarius.TransformOnBuild-unofficial" version="1.20" targetFramework="net472" developmentDependency="true" />
  <package id="DocumentFormat.OpenXml" version="2.13.0" targetFramework="net472" />
  <package id="EntityFramework" version="6.2.0" targetFramework="net471" />
  <package id="iTextSharp" version="5.5.13.2" targetFramework="net472" />
  <package id="jQuery" version="2.2.3" targetFramework="net45" />
  <package id="Microsoft.AspNet.Mvc" version="5.2.4" targetFramework="net471" />
  <package id="Microsoft.AspNet.Razor" version="3.2.4" targetFramework="net471" />
  <package id="Microsoft.AspNet.WebApi" version="5.2.3" targetFramework="net45" />
  <package id="Microsoft.AspNet.WebApi.Client" version="5.2.3" targetFramework="net45" />
  <package id="Microsoft.AspNet.WebApi.Core" version="5.2.3" targetFramework="net45" />
  <package id="Microsoft.AspNet.WebApi.WebHost" version="5.2.3" targetFramework="net45" />
  <package id="Microsoft.AspNet.WebPages" version="3.2.4" targetFramework="net471" />
  <package id="Microsoft.Bcl.AsyncInterfaces" version="1.1.0" targetFramework="net472" />
  <package id="Microsoft.Build.Tasks.Git" version="1.0.0" targetFramework="net472" developmentDependency="true" />
  <package id="Microsoft.ReportingServices.ReportViewerControl.WebForms" version="140.1000.523" targetFramework="net472" />
  <package id="Microsoft.SourceLink.Common" version="1.0.0" targetFramework="net472" developmentDependency="true" />
  <package id="Microsoft.SourceLink.GitHub" version="1.0.0" targetFramework="net472" developmentDependency="true" />
  <package id="Microsoft.SqlServer.Types" version="14.0.314.76" targetFramework="net472" />
  <package id="Microsoft.Web.Infrastructure" version="1.0.0.0" targetFramework="net45" />
  <package id="Modernizr" version="2.8.3" targetFramework="net45" />
  <package id="Newtonsoft.Json" version="11.0.2" targetFramework="net471" />
  <package id="Npgsql" version="5.0.4" targetFramework="net472" />
  <package id="NReco.ImageGenerator" version="1.1.1" targetFramework="net471" />
  <package id="NReco.PdfGenerator" version="1.2.0" targetFramework="net472" />
  <package id="OFXSharp" version="1.0.4002" targetFramework="net472" />
  <package id="ReportingServices" version="14.0.1016.247" targetFramework="net472" />
  <package id="ReportViewerForMvc14" version="140.1000.523" targetFramework="net472" />
  <package id="SgmlReader" version="1.8.11" targetFramework="net472" />
  <package id="System.Buffers" version="4.5.0" targetFramework="net472" />
  <package id="System.Memory" version="4.5.3" targetFramework="net472" />
  <package id="System.Numerics.Vectors" version="4.5.0" targetFramework="net472" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="5.0.0" targetFramework="net472" />
  <package id="System.Text.Encodings.Web" version="4.6.0" targetFramework="net472" />
  <package id="System.Text.Json" version="4.6.0" targetFramework="net472" />
  <package id="System.Threading.Channels" version="4.7.0" targetFramework="net472" />
  <package id="System.Threading.Tasks.Extensions" version="4.5.3" targetFramework="net472" />
  <package id="System.ValueTuple" version="4.5.0" targetFramework="net472" />
</packages>