<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=301880
  -->
<configuration>
  <configSections>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
  </configSections>
  <connectionStrings>

    <!--<add name="UranusEntities" connectionString="metadata=res://*/UranusModel.csdl|res://*/UranusModel.ssdl|res://*/UranusModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=NOTE-RUY\SQLExpress;initial catalog=Uranus;persist security info=True;user id=admin;password=Uranus@2020PASS;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
    <add name="UranusEntities"
     connectionString="metadata=res://*/UranusModel.csdl|res://*/UranusModel.ssdl|res://*/UranusModel.msl;
                       provider=System.Data.SqlClient;
                       provider connection string=&quot;data source=localhost\SQLEXPRESS;
                       initial catalog=Uranus;
                       integrated security=True;
                       MultipleActiveResultSets=True;
                       App=EntityFramework&quot;"
     providerName="System.Data.EntityClient" />

    <!--<add name="APIR9" connectionString="data source=NOTE-RUY\SQLExpress;initial catalog=Uranus;persist security info=True;user id=admin;password=Uranus@2020PASS;MultipleActiveResultSets=True;App=EntityFramework" />-->
    <add name="APIR9"
     connectionString="data source=localhost\SQLEXPRESS;
                       initial catalog=Uranus;
                       integrated security=True;
                       MultipleActiveResultSets=True;
                       App=EntityFramework" />
    <!--<add name="UranusConnectionString" connectionString="Data Source=NOTE-RUY\SQLExpress;Initial Catalog=Uranus;Persist Security Info=True;User ID=admin;Password=Uranus@2020PASS" providerName="System.Data.SqlClient" />-->
    <add name="UranusConnectionString"
     connectionString="Data Source=localhost\SQLEXPRESS;
                       Initial Catalog=Uranus;
                       Integrated Security=True;
                       MultipleActiveResultSets=True"
     providerName="System.Data.SqlClient" />
    <!--
    <add name="UranusEntities" connectionString="metadata=res://*/UranusModel.csdl|res://*/UranusModel.ssdl|res://*/UranusModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=NOTE-RUY\SQLExpress;initial catalog=Uranus;persist security info=True;user id=admin;password=Uranus@2020PASS;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="APIR9" connectionString="data source=NOTE-RUY\SQLExpress;initial catalog=Uranus;persist security info=True;user id=admin;password=Uranus@2020PASS;MultipleActiveResultSets=True;App=EntityFramework" />
    <add name="UranusConnectionString" connectionString="Data Source=NOTE-RUY\SQLExpress;Initial Catalog=Uranus;Persist Security Info=True;User ID=admin;Password=Uranus@2020PASS" providerName="System.Data.SqlClient" />
    
    <add name="UranusEntities" connectionString="metadata=res://*/UranusModel.csdl|res://*/UranusModel.ssdl|res://*/UranusModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=taylor.vps-kinghost.net,1433;initial catalog=Uranus;persist security info=True;user id=admin;password=Uranus@2020PASS;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="APIR9" connectionString="data source=taylor.vps-kinghost.net,1433;initial catalog=Uranus;persist security info=True;user id=admin;password=Uranus@2020PASS;MultipleActiveResultSets=True;App=EntityFramework" />
    <add name="UranusConnectionString" connectionString="Data Source=taylor.vps-kinghost.net,1433;Initial Catalog=Uranus;Persist Security Info=True;User ID=admin;Password=Uranus@2020PASS" providerName="System.Data.SqlClient" />
    
    <add name="UranusEntities" connectionString="metadata=res://*/UranusModel.csdl|res://*/UranusModel.ssdl|res://*/UranusModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=192.168.0.31;initial catalog=Uranus;persist security info=True;user id=admin;password=Uranus@2020PASS;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="APIR9" connectionString="data source=192.168.0.31;initial catalog=Uranus;persist security info=True;user id=admin;password=Uranus@2020PASS;MultipleActiveResultSets=True;App=EntityFramework" />
    <add name="UranusConnectionString" connectionString="Data Source=192.168.0.31;Initial Catalog=Uranus;Persist Security Info=True;User ID=admin;Password=Uranus@2020PASS" providerName="System.Data.SqlClient" />
 -->


  </connectionStrings>
  <appSettings>
    <add key="ApplicationName" value="Suite" /> <!-- Tipos: Suite, Processos e Agenda -->
    <add key="ConnectionString" value="Password=Uranus@2020PASS;Persist Security Info=True;User ID=admin;Initial Catalog=Uranus;Data Source=taylor.vps-kinghost.net,1433" />
    <add key="PathUpload" value="C:\Uranus.WindowsService\Planilhas" />
    <add key="PathUploadContracheques" value="C:\Uranus.WindowsService\Contracheques" />
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
  </appSettings>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.7.2" />
      </system.Web>
  -->
  <system.web>
    <sessionState cookieless="false" timeout="525600" />
    <globalization culture="pt-BR" uiCulture="pt-BR" />
    <compilation debug="true" targetFramework="4.7.2">
      <assemblies>
        <add assembly="netstandard, Version=2.0.0.0, Culture=neutral, PublicKeyToken=cc7b13ffcd2ddd51" />
        <!--<add assembly="Microsoft.ReportViewer.Common, Version=15.0.0.0, Culture=neutral, PublicKeyToken=89845DCD8080CC91" />
        <add assembly="Microsoft.ReportViewer.WebForms, Version=15.0.0.0, Culture=neutral, PublicKeyToken=89845DCD8080CC91" />-->
        <add assembly="Microsoft.ReportViewer.Common, Version=14.0.0.0, Culture=neutral, PublicKeyToken=89845DCD8080CC91" />
        <add assembly="Microsoft.ReportViewer.WebForms, Version=14.0.0.0, Culture=neutral, PublicKeyToken=89845DCD8080CC91" />
      </assemblies>
      <!--<buildProviders>
        <add extension=".rdlc" type="Microsoft.Reporting.RdlBuildProvider, Microsoft.ReportViewer.WebForms, Version=14.0.0.0, Culture=neutral, PublicKeyToken=89845DCD8080CC91" />
      </buildProviders>-->
    </compilation>
    <httpRuntime targetFramework="4.7.2" maxUrlLength="40960" maxQueryStringLength="2097151" maxRequestLength="10485760" />
    <customErrors mode="Off">
      <error statusCode="403" redirect="~/page_403.html" />
      <error statusCode="404" redirect="~/page_404.html" />
      <error statusCode="500" redirect="~/page_500.html" />
    </customErrors>
    <httpHandlers>
      <add path="Reserved.ReportViewerWebControl.axd" verb="*" type="Microsoft.Reporting.WebForms.HttpHandler, Microsoft.ReportViewer.WebForms, Version=14.0.0.0, Culture=neutral, PublicKeyToken=89845DCD8080CC91" validate="false" />
    <add path="Reserved.ReportViewerWebControl.axd" verb="*" type="Microsoft.Reporting.WebForms.HttpHandler, Microsoft.ReportViewer.WebForms, Version=11.0.0.0, Culture=neutral, PublicKeyToken=89845dcd8080cc91" validate="false" /></httpHandlers>
  </system.web>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-11.0.0.0" newVersion="11.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.4.0" newVersion="5.2.4.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Threading.Tasks.Extensions" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.2.0.1" newVersion="4.2.0.1" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.SqlServer.Smo" publicKeyToken="89845dcd8080cc91" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-16.100.0.0" newVersion="16.100.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Npgsql" publicKeyToken="5d8b90d52f46fda7" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.3.1" newVersion="4.1.3.1" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.SqlServer.ConnectionInfo" publicKeyToken="89845dcd8080cc91" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-16.100.0.0" newVersion="16.100.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.SqlServer.SqlEnum" publicKeyToken="89845dcd8080cc91" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-16.100.0.0" newVersion="16.100.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Numerics.Vectors" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.4.0" newVersion="4.1.4.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.0.0.0" newVersion="5.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Buffers" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.ReportViewer.WebForms" publicKeyToken="89845dcd8080cc91" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-14.0.0.0" newVersion="14.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <!--<assemblyIdentity name="Microsoft.ReportViewer.DataVisualization" publicKeyToken="89845dcd8080cc91" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-15.0.0.0" newVersion="15.0.0.0" />-->
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.SqlServer.Types" publicKeyToken="89845dcd8080cc91" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-14.0.0.0" newVersion="14.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.ValueTuple" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
      </dependentAssembly>
      <!--     <dependentAssembly>
        <assemblyIdentity name="System.Text.Json" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.0" newVersion="4.0.1.0" />
      </dependentAssembly>-->
      <dependentAssembly>
        <assemblyIdentity name="BouncyCastle.Crypto" publicKeyToken="0e99375e54769942" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.8.6.0" newVersion="1.8.6.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Bcl.AsyncInterfaces" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.0.0.0" newVersion="1.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <system.webServer>
    <handlers>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <remove name="OPTIONSVerbHandler" />
      <remove name="TRACEVerbHandler" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
      <!--<add name="ReportViewerWebControlHandler" verb="*" path="Reserved.ReportViewerWebControl.axd" preCondition="integratedMode" type="Microsoft.Reporting.WebForms.HttpHandler, Microsoft.ReportViewer.WebForms, Version=15.0.0.0, Culture=neutral, PublicKeyToken=89845DCD8080CC91" />-->
      <add name="ReportViewerWebControlHandler" preCondition="integratedMode" verb="*" path="Reserved.ReportViewerWebControl.axd" type="Microsoft.Reporting.WebForms.HttpHandler, Microsoft.ReportViewer.WebForms, Version=11.0.0.0, Culture=neutral, PublicKeyToken=89845dcd8080cc91" />
    </handlers> 
    <security>
        <requestFiltering allowDoubleEscaping="false">
            <requestLimits maxAllowedContentLength="1073741824" maxUrl="40960" maxQueryString="2097151" />
        </requestFiltering>
    </security>
    <validation validateIntegratedModeConfiguration="false" />
    <modules runAllManagedModulesForAllRequests="true" />
  </system.webServer>
  <system.web.extensions>
    <scripting>
      <webServices>
        <jsonSerialization maxJsonLength="2147483644" />
      </webServices>
    </scripting>
  </system.web.extensions>
</configuration>